#container {
  margin: 0 auto;
  width: 500px;
}

#body {
	background-color: white;
	font-family: 'Courier New', Courier, monospace;
}

/* Start Screen */

#startscreen {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.main-description {
	font-size: 2rem;
}

/* Canvas */

#coordinator {
  margin: 0 auto;
	border: 10px solid white; 
	background-color: #2f3640;
	position: relative;
	border-radius: 5px;
}

/* Start Button*/

.btn {
	border: none;
	color: inherit;
	background: none; 
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Play when Ready Button*/

#play {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.2rem;
	font-weight: bold;
	background: black;
	color: white;
	position: absolute;
	top: 380px;
  right: 620px;
  width: 250px;
  height: 80px;
	border: 6px solid white;
	border-radius: 4px;
	box-shadow: 0 5px gray;
}

#play:hover {
	box-shadow: 0 3px gray;
	top: 382px;
}

#play:active {
	box-shadow: 0 0px gray;
	top: 385px;
}

/* Instructions */

.title-instructions {
	font-size: 1.3rem;
}

#instructions {
	text-align: center;
	right: 550px;
	width: 400px;
	position: absolute;
	top: 150px;
	color: white;
}

/* Game Over Screen */

#gameover {
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* .gameover-title {
	color: white;
} */