#container {
  margin: 0 auto;
  width: 500px;
}

#body {
	background-color: #121a21;
	font-family: 'Courier New', Courier, monospace;
}

/* Start Screen */

#startscreen {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.main-description {
	font-size: 1.6rem;
	color: white;
}

.coordinator-logo-top {
	margin-top: 60px;
	font-size: 5rem;
	color: white;
}

.coordinator-logo-bottom {
	color: #bdc3c7;
	margin-top: -40px;
	margin-left: 290px;
	font-size: 6rem;
}

#logo-image {
	margin-top: 40px;
	width: 270px;
	height: 290px;
	transform: rotate(-10deg);
}

#logo-image:hover {
	transform: rotate(0.5turn);
	transition-duration: 2s;
}

.main-logo-container {
	display: flex;
	justify-content: center;
}

.separator-line {
	margin-top: 10px;
	margin-bottom: 40px;
	width: 50%; 
	height: 1px; 
	background: #fff
}

/* Canvas */

#coordinator {
  margin: 0 auto;
	border: 10px solid white; 
	background-color: #1b2631;
	position: relative;
	border-radius: 5px;
}

/* Start Button*/

#start {
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5rem;
	font-weight: bold;
	background: #34495e;
  width: 250px;
  height: 80px;
	border: 6px solid white;
	border-radius: 4px;
	box-shadow: 0 5px #95a5a6;
	margin-top: 20px;
}

#start:hover {
	box-shadow: 0 3px #95a5a6;
	margin-top: 22px;
	cursor: pointer;
}

#start:active {
	box-shadow: 0 0px #95a5a6;
	margin-top: 24px;
}


/* Play when Ready Button*/

#play {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.2rem;
	font-weight: bold;
	background: #121a21;
	color: white;
	position: absolute;
	top: 420px;
  right: 540px;
  width: 250px;
  height: 80px;
	border: 6px solid white;
	border-radius: 4px;
	box-shadow: 0 5px gray;
}

#play:hover {
	box-shadow: 0 3px gray;
	top: 422px;
	cursor: pointer;
}

#play:active {
	box-shadow: 0 0px gray;
	top: 425px;
}

/* Instructions */

.title-instructions {
	font-size: 1.3rem;
}

#instructions {
	font-size: 1.2rem;
	text-align: center;
	right: 470px;
	width: 400px;
	position: absolute;
	top: 70px;
	color: white;
}

#arrows {
	position: absolute;
	top: 180px;
	width: 150px;
	right: 595px;
}

#instructions-two {
	font-size: 1.2rem;
	text-align: center;
	right: 470px;
	width: 400px;
	position: absolute;
	top: 280px;
	color: white;
}

.be-careful {
	color: #e74c3c;
}

.percent-instructions {
	color: #2ecc71;
}

#timer-counter {
	position: absolute;
	width: 200px;
	top: 230px;
	right: 200px;
}

/* Game Over Screen */

#gameover {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	font-size: 1.3rem;
}

#passed-failed {
	margin-top: 100px;
	font-size: 3rem;
	color: #ced6e0;
}

#right-final-number {
	font-size: 3rem;
	font-weight: bold;
	color: #121a21;
	background-color: white;
	margin: 0px 580px;
	-ms-transform: skew(-10deg, 0deg);
	-webkit-transform: skew(-20deg, 0deg);
    transform: skew(-15deg, 0deg);
}

/* Try Again Button*/

#tryagain {
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5rem;
	font-weight: bold;
	background: #34495e;
  width: 250px;
  height: 80px;
	border: 6px solid white;
	border-radius: 4px;
	box-shadow: 0 5px #95a5a6;
	margin-top: 20px;
}

#tryagain:hover {
	box-shadow: 0 3px #95a5a6;
	margin-top: 22px;
	cursor: pointer;
}

#tryagain:active {
	box-shadow: 0 0px #95a5a6;
	margin-top: 24px;
}
