#container {
  margin: 0 auto;
  width: 500px;
}

.body {
	background-color: black;
}

/* Start Screen */

#startscreen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* .coordinatorLogo {
	width: 80%;
} */

/* Canvas */

#coordinator {
  margin: 0 auto;
	border: 10px solid white; 
	background-color: black;
}

/* Start Button*/

.btn {
	border: none;
	color: inherit;
	background: none; 
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Game Over Screen */

.gameoverTitle {
	color: white;
}